@import '~antd/dist/antd.css';

/* 组件样式覆盖 */
.ant-table-pagination {
  margin: 16px 16px;
}

/* 内容样式 */
.App {
  position: relative;
}

.App-drawer-btn {
  position: absolute;
  right: 20px;
  top: 20px;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content .result-table-wrap {
  width: 80%;
}

.App-content .result-table-content {
  background: #fff;
}

.App-content .result-table-button {
  text-align: left;
  padding: 10px;
}

.App-content .result-table-button > button {
  margin: 0 10px;
}

.download-card {
  margin: 10px 0;
  font-size: 16px;
}
.download-card-btns {
  text-align: right;
}

.download-card-btns i {
  cursor: pointer;
  margin: 0 10px;
}
